*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, nav{
    height: 100%;
    width: 100%;
    background: rgba(0, 31, 58, 1);

}

div{
    width: 280px;
    height: 264px;
    background: rgba(0, 57, 107, 0.7);
    /* Deixar os containers lado a lado */
    display: inline-block; 
    margin-right: 70PX; 
    margin-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.divSuperior-1{
    background: rgba(255, 145, 46, 1);

}

.divSuperior-2{
    background: rgba(135, 0, 147, 1);
   
}

p{
    margin-top: 35%;
}

:not(
    .divInferior, .divSuperior, .divSuperior-1, .divSuperior-2, p, body, html, nav){
    color: rgba(186, 11, 11, 1);
    background: white;
}

:not(.divInferior, .divSuperior, .divInferior-2, .divSuperior-2, p, body, html, nav){
    width: 262px;
    height: 262px;
}
